<h1>Brands</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td>
          <%= link_to brand.name, brand %>
          <span class="pull-right">
            <%= link_to edit_brand_path(brand) do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <% end %>
            <%= link_to brand, method: :delete, data: { confirm: 'Are you sure?' } do %>
               <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brand', new_brand_path, class: 'btn btn-success' %>
