<div class="page-header text-center">
  <h1><%= @brand.name %></h1>
  <p class="lead">Covers for all your favourite smartphones at amazing prices!</p>
</div>


<div class="row">
  <div class="col-sm-12">
    <h2>Devices</h2>
    <% @brand.devices.each do |device|%>
        <div class="well well-sm">
          <h4><%= device.name %></h4>
          <div class="row">
            <p class="col-sm-10">
              Number of products:
              <strong><%= device.products.count %></strong>
            </p>
            <p class="col-sm-2 text-right">
              <% if device.products.count > 0 %>
                  <%= link_to 'View products', store_device_url(brand: @brand.name.downcase, device: device.name.downcase), class: 'btn btn-sm btn-success' %>
              <% else %>
                  Coming soon
              <% end %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>