<div class="page-header text-center">
  <h1>Welcome to Cover Phone Warehouse</h1>
  <p class="lead">Covers for all your favourite smartphones at amazing prices!</p>
</div>

<div class="well">
  <%= params.inspect %>
</div>
